.container {
    margin-bottom: 17%;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-block {
    width: 100%;
}

.text-center {
    text-align: center;
}